<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectre Social Starter </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css"> </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<body>
		<div ng-app="tenacityApp" ng-controller="tenacityCtrl">
			<header class="navbar bg-primary">
  <section class="navbar-section">
	<a href="..." class="navbar-brand mr-2"><span class="text-light">Tenacity</span></a>
	<a href="index.html" class="btn btn-link text-light"><span class="text-light">Issues</span></a>
	<a href="todo_list.html" class="btn btn-link text-light"><span class="text-light">Questions</span></a>
  </section>
  <section class="navbar-section">
	<div class="input-group input-inline">
	  <input type="text" placeholder="search" class="form-input"/>
	  <button class="btn input-group-btn btn-success">Search</button>
	</div>
  </section>
</header>
<div class="gjs-row">
  <div class="gjs-cell">
  </div>
  <div class="gjs-cell">
	<div class="c12983">Sign into Tenacity
	</div>
	<form class="form" action="/login.html" method="POST">
	  <div class="form-group">
		<label class="label">Username</label>
		<input name="username" placeholder="Type your user name here" class="input"/>
	  </div>
	  <div class="form-group">
		<label class="label">Password</label>
		<input name="password" type="password" placeholder="Type your password here" class="input"/>
	  </div>
	  <div class="form-group">
		<button type="submit" class="button">Send</button>
	  </div>
	</form>
  </div>
  <div class="gjs-cell">
  </div>
</div>
    <footer class="footer"></footer>
		</div>
		<script>
var app = angular.module('tenacityApp', []);
app.controller('tenacityCtrl', function($scope, $http) {
    $http.get("/question?id=1")
    .then(function(response) {
        $scope.firstData = response.data.id;
    });
});
</script>
</body>

</html>
