<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Project Title </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/login.css"> </head>

<body>
    <div class="login">
        <h1>Login </h1>
        <form><input name="u" placeholder="Username" required="required" type="text" /><input name="p" placeholder="Password" required="required" type="password" /><button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            <a href="signup.html" class="btn btn-block btn-large btn-secondary">Create an Account</a>
        </form>
    </div>
</body>

</html>
