<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote on {{issueName}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css"> </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<body>
		<div ng-app="tenacityApp" ng-controller="tenacityCtrl">
			<header class="navbar bg-primary">
  <section class="navbar-section">
	<a href="..." class="navbar-brand mr-2"><span class="text-light">Tenacity</span></a>
  </section>
  <section class="navbar-section">
	<a href="index.html" class="btn btn-link text-light"><span class="text-light">My Account</span></a>
	<div class="input-group input-inline">
	  <input type="text" placeholder="Search" class="form-input"/>
	  <button class="btn input-group-btn btn-success">Search</button>
	</div>
  </section>
</header>
<div data-content="All Notes" id="">
</div>
<div class="c60103">Please answer a few questions before you vote
  <br/>
</div>
<section class="all-notes">
  <div class="container grid-lg">
	<div class="columns">
	  <div class="column col-4 col-xs-12 col-sm-12">
		<div class="card bg-secondary">
		  <div class="card-header">
			<div class="card-title h5">Will fracking cause earthquakes?
			  <br/>
			</div>
		  </div>
		  <div class="card-body">Please indicate your answer below
			<br/>
		  </div>
		  <div class="card-footer">
			<div class="btn-group btn-group-block">
			  <button class="btn btn-primary">No, that's silly.</button>
			  <button class="btn btn-primary">Yes, it's happened elsewhere.</button>
			  <button class="btn btn-primary">I'm unsure.</button>
			  <button class="btn">Abstain</button>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="column col-4 col-xs-12 col-sm-12">
		<div class="card bg-secondary">
		  <div class="card-header">
			<div class="card-title h5">Will fracking cause earthquakes?
			  <br/>
			</div>
		  </div>
		  <div class="card-body">Please indicate your answer below
			<br/>
		  </div>
		  <div class="card-footer">
			<div class="btn-group btn-group-block">
			  <button class="btn btn-primary">No, that's silly.</button>
			  <button class="btn btn-primary">Yes, it's happened elsewhere.</button>
			  <button class="btn btn-primary">I'm unsure.</button>
			  <button class="btn">Abstain</button>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="column col-4 col-xs-12 col-sm-12">
		<div class="card bg-secondary">
		  <div class="card-header">
			<div class="card-title h5">My First Note
			</div>
		  </div>
		  <div class="card-body">To make a contribution to the world by making tools for the mind that advance humankind.
		  </div>
		  <div class="card-footer">
			<div class="btn-group btn-group-block">
			  <button class="btn btn-primary">Vote Now!</button>
			  <button class="btn">Abstain</button>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="column col-4 col-xs-12 col-sm-12">
		<div class="card bg-secondary">
		  <div class="card-header">
			<div class="card-title h5">My First Note
			</div>
		  </div>
		  <div class="card-body">To make a contribution to the world by making tools for the mind that advance humankind.
		  </div>
		  <div class="card-footer">
			<div class="btn-group btn-group-block">
			  <button class="btn btn-primary">Vote Now!</button>
			  <button class="btn">Abstain</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="gjs-row">
	  <div class="gjs-cell">
		<div class="card bg-gray">
		  <div class="card-header">
			<div class="card-title h5 final-card-title">Would you like to ban Fracking?
			</div>
		  </div>
		  <div class="card-body">
			<div id="ia1aro">When you're finished answering the questions above, this is the last one. Please answer Yes or No.
			</div>
			<div>
			  <br/>
			</div>
		  </div>
		  <div class="card-footer">
			<div class="btn-group btn-group-block">
			  <button class="btn btn-primary">Yes</button>
			  <button class="btn">No</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="columns">
	  <div class="column col-4 col-xs-12 col-sm-12">
	  </div>
	</div>
  </div>
</section>
<footer class="footer">
  <p class="text-center">Made in 48 Hours |   Powered by HackYG
  </p>
</footer>
		</div>
		<script>
var app = angular.module('tenacityApp', []);
app.controller('tenacityCtrl', function($scope, $http) {
    $http.get("/question?id=1")
    .then(function(response) {
        $scope.firstData = response.data.id;
    });
});
</script>
</body>

</html>
