<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectre Social Starter </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css"> </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<body>
		<div ng-app="tenacityApp" ng-controller="tenacityCtrl">
			<header class="navbar bg-primary">
  <section class="navbar-section">
	          <a href="/static/login.html" class="navbar-brand mr-2"><span class="text-light">Tenacity</span></a>
        <a href="/static/vote.html" class="navbar-brand mr-2"><span class="text-light">Vote</span></a>
        <a href="/static/tasks.html" class="navbar-brand mr-2"><span class="text-light">Tasks</span></a>

  </section>
  <section class="navbar-section">
	<div class="input-group input-inline">
	  <input type="text" placeholder="search" class="form-input"/>
	  <button class="btn input-group-btn btn-success">Search</button>
	</div>
  </section>
</header>
<div class="container login-container">
<div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>Login to site</h1></div>
    <form name="userForm">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model="user.username">
        <span ng-show="errorUserName">{{errorUserName}}</span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password">
        <span ng-show="errorEmail">{{errorEmail}}</span>
    </div>
    <button type="button" ng-click="submitForm()" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</div>
    <footer class="footer"></footer>
		</div>
		<script>
			var postApp = angular.module('tenacityApp', []);
    postApp.controller('tenacityCtrl', function($scope, $http) {
      $scope.user = {};
        $scope.submitForm = function() {
        $http({
          method  : 'POST',
          url     : '/login.html',
          data    : $scope.user,
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' } 
         }).then(function(response) {
		 window.location.href = "/vote.html";
          });
        };
    });
</script>
</body>

</html>
